<?xml version="1.0" ?>
<launch>

	<!-- Franka control -->
	<arg name="robot_ip" default="172.16.0.2"/>
	<arg name="load_gripper" default="true" />
	<include file="$(find franka_control)/launch/franka_control.launch" >
		<arg name="robot_ip" value="$(arg robot_ip)" />
		<arg name="load_gripper" value="$(arg load_gripper)" />
	</include>

	<!-- Set some project specific defaults for the panda arm. -->
	<node name="set_robot_defaults" pkg="franka_irom_controllers" type="set_panda_defaults.py" respawn="false" output="screen"/>

	<!-- Moveit for pose control-->
	<include file="$(find panda_moveit_config)/launch/panda_moveit.launch">
		<arg name="load_gripper" value="$(arg load_gripper)" />
	</include>
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="position_joint_trajectory_controller"/>

	<!-- Velocity controller for continuous task -->
	<include file="$(find franka_irom_controllers)/launch/cartesian_velocity_node_controller.launch">
		<arg name="stopped" value="true" />
	</include>

	<!-- Main script-->
	<node name="move" pkg="franka_irom" type="graspEnv.py" output="screen"/>

	<!-- Rviz -->
	<node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find franka_irom)/rviz/robot.rviz"/>


</launch>

