<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" default="172.16.0.2"/>
  <arg name="load_gripper" default="true" />
  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <include file="$(find panda_moveit_config)/launch/panda_moveit.launch">
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <!-- <rosparam command="load" file="$(find franka_example_controllers)/config/franka_example_controllers.yaml" /> -->
  <node name="move" pkg="franka_irom" type="move.py" output="screen"/>
  <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="cartesian_pose_example_controller"/> -->
  <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d rviz/robot.rviz"/>
</launch>
